body{
    margin:0;
}

#bodywidth{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}


header {
    overflow:hidden;
    width: 100%;
    background-color: #2E2E2E;
    height: 60px;
    margin-top: 0;
    padding: 0;
}

ul#menu {
    list-style-type: none;
    padding-left: 20px;

}

#menu li {
    float: left;
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
    color: #9F9F9F;
    text-decoration: none;
    margin-top: 10px;
    padding-right: 3px;
    margin-left: 0;

}

ul#icons {
    padding-right: 20px;
}

#icons li {
    float: right;
    padding-left: 10px;
    font-size: 0;
}


div#nav {
    overflow:hidden;
    width: 100%;
    background-color: antiquewhite;


}


ul#navigation {
    list-style-type: none;
    padding-left: 0;
    padding-top:20px;
    width: 960px;
    border-bottom: 5px solid #F1F1F1;
    height: 50px;
    margin: 0px auto;
}


#navigation li {
    float: left;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 0.5px;
    padding-top: 20px;
    padding-bottom:15px;
    padding-right: 25px;
}

.liBorder {
    float: left;
    border-bottom: 5px solid #F1F1F1;
    height:50px;
}



#navigation li:hover  {
                    color: #9F9F9F;
                    border-bottom: 5px solid #0099FF;
}